.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #e0fbfc;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  height: 100px; /* Increased height for better spacing */
  background-color: #3d5a80;
  color: white;
  display: flex;
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  font-family: 'DM Sans', sans-serif;
  font-size: 24px; /* Increased font size */
  font-weight: bold;
}

/* Main Content */
.main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.main-title {
  color: #3d5a80;
  font-family: 'DM Sans', sans-serif;
  font-size: 22px;
}

/* Card Styling */
.card {
  box-sizing: border-box;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  color: #293241;
}

.card:hover {
  border: 1px solid #ee6c4d;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.card input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #98c1d9;
}

.card button {
  background-color: #3d5a80;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.card button:hover {
  background-color: #ee6c4d;
}

/* Footer */
.footer {
  height: 100px; /* Increased height for better spacing */
  background-color: #3d5a80;
  color: white;
  display: flex;
  align-items: center; /* Centers text vertically */
  justify-content: flex-start; /* Aligns text to the left */
  padding: 0 20px; /* Adds horizontal padding */
  font-size: 18px; /* Increased font size */
  font-family: 'DM Sans', sans-serif;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
